.container-sidebar{
    background-image: linear-gradient(to bottom, rgb(0, 124, 196), rgba(100,100,100,0.2));
    height:100vh;
    padding: 4px 4px 4px 4px;
    overflow: hidden;
    min-width: 100px;
}    

.sidebar-content li{
    list-style: none;
}

.container-sidebar-footer{
    flex:1;
}

.sidebar-footer{
    margin-top:65vh;
}

.icon-sidebar{
    width:60%;
    min-width:30px;
    height:100%;
    margin-top:10vh;
}

@media screen and (width:480px){
    .icon-sidebar{
        width: 100%;
        height: 100%;
    }
}


