<div class="navbar navbar-expand-lg bg-body-tertinary">
    <div class="container-fluid">

        <div class="navbar-brand text-white" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
            Suporte
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false"></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item ">
                    <a class="nav-link active text-white" aria-current="page">Meus Chamados</a>
                </li>

            </ul>
        </div>

    </div>
</div>

<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>