<div class="container-sidebar">
    <div class="sidebar">

        <div class="container-sidebar-title">
            <div class="sidebar-title">
                <p>Menu</p>
            </div>
        </div>

        <div class="container-sidebar-content">
            <div class="sidebar-content">
                <ul>
                    <li class="button-menu">
                        <img src="assets/images/mais.png" alt="Criar um chamado" class="button-menu-icon" routerLink=""><p>Abrir Chamado</p>
                    </li>
                    <li class="button-menu">
                        <img src="assets/images/chamada-telefonica.png" class="img icon-sidebar" alt="Consultar Chamados" class="button-menu-icon" routerLink="list"><p>Consultar Chamado</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container-sidebar-footer">
            <div class="sidebar-footer">
                <hr>
            </div>
        </div>

    </div>
</div>