<div class="container-sidebar">
    <div class="sidebar">

        <div class="container-sidebar-title">
            <div class="sidebar-title">
                <p>Menu</p>
            </div>
        </div>

        <div class="container-sidebar-content">
            <div class="sidebar-content">
                <ul>
                    <li>
                        <img src="assets/images/chamada-telefonica.png" class="img icon-sidebar"><p>Abrir Chamado</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container-sidebar-footer">
            <div class="sidebar-footer">
                <hr>
            </div>
        </div>

    </div>
</div>